@import "/src/Config/config-colors.scss";

* {
  transition: all 0.4s;
}
.job-card {
  display: flex;
  flex-direction: column;
  background: var(--secondary-background);
  border-radius: 6px;
  width: 350px;
  height: 228px;
  padding: 0 32px;
  border: none;
  text-align: start;
  cursor: pointer;
  outline-color: $violet;
}
.jobs-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  margin-bottom: 100px;
}
.jobs-center-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 30px;
  max-width: 100rem;
  animation: render2 0.7s;
}
.logo {
  position: relative;
  bottom: 20px;
  left: 5px;
}
.rate {
  display: flex;
  gap: 12px;
  color: $DarkGray;
}
.position {
  font-size: 20px;
  color: var(--text-color);
}
.company {
  color: $DarkGray;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.location {
  color: $violet;
  font-weight: 700;
  margin-top: 45px;
}
.dot {
  @extend %dot-style;
}
.jobListAnimation {
  animation: render 0.7s;
}

@keyframes render {
  0% {
    opacity: 0.5;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes render2 {
  0% {
    opacity: 0.5;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
