// ? Primary Colors
$violet: #5964e0;
$lightViolet: #939bf4;
$VeryDarkBlue: #19202d;
$Midnight: #121721;

// ! Secondary Colors

$White: #ffffff;
$LightGray: #f4f6f8;
$Gray: #9daec2;
$DarkGray: #6e8098;
