@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "./Config/config-colors.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightViolet;
  border-radius: px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $violet;
}
